body {
    background-color: rgb(82, 88, 90);
}

header {
    grid-area: hd;
}

footer {
    grid-area: ft;
    background-color: #333;
    color: white;
    padding: 14px 16px;
    text-align: center;
}